{% extends "templates/default.html.twig" %}
{% block title %}Admin
{% endblock %}
{% block content %}
	<div class="mt-2 ml-2">
		<a href="/admin" class="text-xl">
			⇠ Retour au panel admin
		</a>
	</div>
	<div class="flex flex-col items-center gap-10">
		<div class="text-2xl">
			Ajouter un type de logement a la liste
		</div>
		<form class='flex flex-col w-[20%] gap-3' method="POST">
			<input class="rounded-xl p-2 bg-[#3F4A7A]" placeholder="Name" name="name" type="text"/>
			<input class="rounded-xl p-2 bg-[#3F4A7A] shadow-xl" type="submit" value="Creer">
		</form>
		<div class='flex flex-col gap-5 w-[25%] '>
			{% for service in services %}
				<div class="flex flex-row w-full justify-between">
					<form action="/admin/service/delete" method="POST">
						<input type="hidden" name="id" value="{{service.id}}">
						<input class="bg-red-500 pt-2 pb-2 pr-4 pl-4 rounded-[10px]" type="submit" value="Supprimer">
					</form>
					<form action="/admin/service/modify" class="flex w-full ml-10 justify-between" method="POST">
						<input type="hidden" name="id" value="{{service.id}}">
						<input class="rounded-xl p-2 bg-[#3F4A7A]" type="text" name="name" value="{{service.name}}">
						<input class="bg-yellow-500 pt-2 pb-2 pr-4 pl-4 rounded-[10px]" type="submit" value="Modifier">
					</form>
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
