{% extends "default.html.twig" %}

{% block title %}404
{% endblock %}

{% block content %}
	<div class="flex h-screen flex-col justify-center items-center">
		<h1>404</h1>
		<p>Page not found</p>
	</div>
{% endblock %}
