<form class="flex flex-col gap-4 w-[20%]" action="/register" method="post">
	<input class="rounded-xl p-2 bg-[#3F4A7A]" type="text" name="username" placeholder="Username">
	<input class="rounded-xl p-2 bg-[#3F4A7A]" type="text" name="firstname" placeholder="First Name">
	<input class="rounded-xl p-2 bg-[#3F4A7A]" type="text" name="lastname" placeholder="Last Name">
	<input class="rounded-xl p-2 bg-[#3F4A7A]" type="number" name="phone_number" placeholder="Phone Number">

	<input
	class="rounded-xl p-2 bg-[#3F4A7A]" type="text" name="email" placeholder="Email">
	{# TODO: image #}
	<input class="rounded-xl p-2 bg-[#3F4A7A]" type="password" name="password" placeholder="Password">
	<input class="rounded-xl p-2 bg-[#3F4A7A] cursor" type="submit" value="Register">
</form>
