{% extends "templates/default.html.twig" %}

{% block title %}Register
{% endblock %}

{% block content %}
	<div class="flex h-screen flex-col justify-center items-center">
		<h1 class="mb-5">Register</h1>
		<p class="mb-5 text-[#ff0000]">{{error}}</p>
		{% include "templates/formRegister.html.twig" %}
	</div>
{% endblock %}
